* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 16px;
}

:root {
  --black: #141414;
  --white: #fff;
  --light-blue: #00bfff;
  --blue: #1e90ff;
  --dark-blue: #04205e;
  --dark-blue-2: #4169e1;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #282828;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}

.eventNameColor {
  background: linear-gradient(
    180deg,
    var(--light-blue),
    var(--blue),
    var(--dark-blue-2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@media (max-width: 1300px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 10px;
  }
}
