* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 16px;
}

:root {
  --black: #141414;
  --white: #fff;
  --light-blue: #00bfff;
  --blue: #1e90ff;
  --dark-blue: #04205e;
  --dark-blue-2: #4169e1;
  --diamond: #74efff;
  --gold: #ffd700;
  --silver: #c0c0c0;
  --bronze: #cd7f32;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  height: fit-content;
  background-color: #282828;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}

.eventNameColor {
  background: linear-gradient(
    180deg,
    var(--light-blue),
    var(--blue),
    var(--dark-blue-2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* SECTION GLOBAL STYLE */
.home,
.audience,
.topics,
.speakers,
.about {
  padding: 5% 10%;
}

/* SECTION TITLE GLOBAL STYLE */
.section-title {
  margin-bottom: 5rem;
  text-align: center;
  color: var(--white);
}

.section-title h2 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.section-title p {
  font-size: 1.1rem;
}

#backToTopBtn {
  background-color: var(--white);
  position: fixed;
  padding: 1rem;
  display: none;
  border-radius: 100%;
  right: 0;
  bottom: 0;
  margin-right: 2rem;
  margin-bottom: 2rem;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  & i {
    font-size: 2rem;
    color: var(--blue);
  }

  &:hover {
    box-shadow: 1px 1px 8px var(--white);
    cursor: pointer;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 10px;
  }
}
