.navbar {
  background-color: var(--black);
  padding: 1.5% 5%;
}

.navbar > div.container-fluid {
  display: flex;
  align-items: center;
}

.navbar img {
  width: 5rem;
  object-fit: scale-down;
}

.navbar span.subscribe {
  display: block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  border: 3px solid var(--blue);
  border-radius: 10px;
  background-color: transparent;
  color: var(--white);
  padding: 8px 30px;
  transition: border-radius 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.navbar span.subscribe:hover {
  background-color: var(--blue);
  border-radius: 0px;
}

.navbar-toggler {
  /* background-color: var(--white); */
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler i {
  color: var(--white);
  font-size: 2.5rem;
}
.navbar-nav {
  gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  color: var(--white);
}

.nav-link:hover {
  color: var(--blue);
}

.nav-link + .active {
  color: var(--blue);
}

.nav-link:focus {
  color: var(--blue);
}
