.courses {
  background-color: var(--black);
}

.courses-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--blue);
  gap: 5rem;
}

.day h2 {
  margin: 0 auto;
  width: fit-content;
}

.day h2::after {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background-color: var(--blue);
  margin: 5px 0;
}

.last-day {
  width: 50%;
  margin: 0 auto;
  grid-column: 1/-1;
}

.day > h2 + p {
  text-align: center;
  font-size: 1.1rem;
  color: var(--white);
}

.courses-schedule {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 2rem;
}

.course-card {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
  color: var(--white);
  border-bottom: 1px solid var(--blue);

  & i {
    font-size: 2rem;
    color: var(--blue);
  }

  & h3 {
    font-size: 1.4rem;
  }

  & p {
    font-size: 0.7rem;
  }
}

.courses-subscribe-text {
  font-size: 2rem;
  color: var(--white);
  margin-top: 3rem;
  text-align: center;
}

.courses-btn {
  display: block;
  width: fit-content;
  font-size: 1.2rem;
  box-shadow: 1px 1px 8px var(--blue);
  background-color: var(--blue);
  margin: 3rem auto;
  padding: 10px 30px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.courses-btn:hover {
  box-shadow: 1px 1px 20px var(--blue);
  background-color: var(--white);
  color: var(--blue);
}

@media (max-width: 768px) {
  .courses-table {
    grid-template-columns: 1fr;
  }

  .day {
    width: 70%;
    margin: 0 auto;
  }
}
