.supporters {
  background-color: var(--black);
  
}

.level-title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 1rem;
}

.level-title i {
  font-size: 4rem;
  padding: 20px;
  border-radius: 100%;
}

.diamond {
  color: var(--diamond);
  border-bottom: 2px solid var(--diamond);
}

.diamond i {
  box-shadow: 1px 1px 10px var(--diamond);
}

.gold {
  color: var(--gold);
  border-bottom: 2px solid var(--gold);
}

.gold i {
  box-shadow: 1px 1px 10px var(--gold);
}

.silver {
  color: var(--silver);
  border-bottom: 2px solid var(--silver);
}

.silver i {
  box-shadow: 1px 1px 10px var(--silver);
}

.bronze {
  color: var(--bronze);
  border-bottom: 2px solid var(--bronze);
}

.bronze i {
  box-shadow: 1px 1px 10px var(--bronze);
}

.iron {
  color: var(--iron);
  border-bottom: 2px solid var(--iron);
}

.iron i {
  box-shadow: 1px 1px 10px var(--iron);
}

.supporters-list {
  padding: 2rem 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.supporters-card {
  margin: auto 0 0 0;
}

.supporters-card img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Mantém proporção sem cortar a imagem */
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.supporters-card-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  gap: 1rem;
}
.supporters-card-contacts a {
  transition: color 0.3s ease-in-out;
}

.supporters-card-contacts a:hover {
  color: var(--blue);
}

.supporters-card-contacts a i {
  font-size: 2rem;
}

.diamond-supporters .supporters-card img {
  width: 350px;
}

.gold-supporters .supporters-card img {
  width: 300px;
}

.silver-supporters .supporters-card img {
  width: 250px;
}

.bronze-supporters .supporters-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.bronze-supporters .supporters-card {
  margin: 0 auto;
}

.bronze-supporters .supporters-card img {
  width: 200px;
}

#fadema-img {
  background-color: var(--white);
  border-radius: 100%;
}

#pesqueiro-ney-img {
  border-radius: 100%;
}

#paj-img {
  border-radius: 100%;
}

#terra-de-cultivo-img {
  height: 200px;
  border-radius: 100%;
  padding: 10px;
  background-color: var(--white);
}

.iron-supporters .supporters-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.iron-supporters .supporters-card img {
  width: 150px;
}

#despachante-thiago-img {
  background-color: var(--black);
  border-radius: 100%;
}

#pesqueiro-pe-da-serra-img {
  border-radius: 100%;
}

.supporters-invite .section-title {
  border-left: 2px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  margin-top: 5rem;
  text-align: left;
}

.supporters-invite .section-title i {
  font-size: 8rem;
  color: var(--white);
  padding: 1rem;
  border: 2px solid var(--white);
  border-radius: 5px;
}

.invite-container {
  background-color: var(--blue);
  box-shadow: -20px -20px 2px var(--white);
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding: 1rem;
  border-radius: 5px;
}

.invite-container p {
  border-top: 3px solid var(--white);
  color: var(--white);
  text-align: justify;
  padding: 2rem 0;
  border-bottom: 3px solid var(--white);
}

.supporter-btn {
  display: block;
  width: fit-content;
  font-size: 1.2rem;
  box-shadow: 1px 1px 8px var(--blue);
  background-color: var(--blue);
  margin: 3rem auto;
  padding: 10px 30px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.supporter-btn:hover {
  box-shadow: 1px 1px 20px var(--blue);
  background-color: var(--white);
  color: var(--blue);
}

@media (max-width: 768px) {
  .diamond-supporters .supporters-card img {
    width: 300px;
  }

  .diamond-supporters .supporters-list {
    flex-direction: column;
  }

  .gold-supporters .supporters-card img {
    width: 250px;
  }

  .silver-supporters .supporters-card img {
    width: 200px;
  }

  .bronze-supporters .supporters-card img {
    width: 150px;
  }

  #terra-de-cultivo-img {
    height: 150px;
  }

  .iron-supporters .supporters-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .iron-supporters .supporters-card img {
    width: 100px;
  }

  .invite-container {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .supporters-invite .section-title {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .diamond-supporters,
  .gold-supporters,
  .silver-supporters,
  .bronze-supporters {
    margin-bottom: 5rem;
  }

  .level-title {
    flex-direction: column-reverse;
    gap: 2rem;
    align-items: center;
  }

  .diamond-supporters .supporters-card img {
    width: 250px;
  }

  .gold-supporters .supporters-card img {
    width: 200px;
  }

  .silver-supporters .supporters-card img {
    width: 150px;
  }

  .bronze-supporters .supporters-list {
    grid-template-columns: 1fr 1fr;
  }

  .bronze-supporters .supporters-card img {
    width: 100px;
  }

  #terra-de-cultivo-img {
    height: 100px;
  }

  .iron-supporters .supporters-card img {
    width: 100px;
  }

  .invite-container {
    width: 80%;
  }
}
