.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  background: linear-gradient(to right, var(--black) 65%, #04205e);
  padding: 5% 10%;
  gap: 2rem;
  color: var(--white);
}

.home-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.home-left h1 {
  font-size: 3.5rem;
}

.home-left p:first-of-type {
  font-size: 1.5rem;
  font-weight: 500;
}

.home-left p {
  font-size: 1.2rem;
  font-weight: 400;
}

.home-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
}

.home-right p:first-child {
  font-size: 2rem;
  margin: 0;
}

.home-right p {
  font-size: 1.2rem;
}

.home-right p > span.free {
  background-color: var(--white);
  padding: 8px;
  color: var(--black);
  font-weight: 500;
}

.subscribe-btn {
  display: block;
  width: fit-content;
  font-size: 1.2rem;
  box-shadow: 1px 1px 8px var(--blue);
  background-color: var(--blue);
  margin-top: 1rem;
  padding: 10px 30px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.subscribe-btn:hover {
  box-shadow: 1px 1px 20px var(--blue);
  background-color: var(--white);
  color: var(--blue);
}

@media (max-width: 1200px) {
  .home {
    padding: 5% 8%;
  }
}

@media (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .home-left,
  .home-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2rem;
  }

  .home-left h1 {
    text-align: left;
    font-size: 4rem;
    width: 100%;
    grid-column: 1/-1;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 5%;
  }

  .home-left p,
  .home-left p:first-of-type,
  .home-right p,
  .home-right p:first-of-type {
    width: 100%;
    padding: 15px 10px;
    font-size: 1.6rem;
    border-left: 2px solid var(--white);
  }

  .free {
    display: block;
    width: fit-content;
    font-weight: 600;
  }

  .subscribe-btn {
    margin: 5% auto 0%;
    font-size: 1.6rem;
    grid-column: 1/-1;
  }
}

@media (max-width: 625px) {
  .home-left h1 {
    font-size: 3.8rem;
  }

  .home-left p,
  .home-left p:first-of-type,
  .home-right p,
  .home-right p:first-of-type {
    font-size: 1.4rem;
  }

  .subscribe-btn {
    font-size: 1.4rem;
  }
}

@media (max-width: 576px) {
  .home-left,
  .home-right {
    grid-template-columns: 1fr;
  }

  .home-left h1 {
    font-size: 3rem;
  }

  .home-left p,
  .home-left p:first-of-type,
  .home-right p,
  .home-right p:first-of-type {
    text-align: center;
    height: 80px;
    font-size: 1.1rem;
    border-right: 2px solid var(--white);
  }

  .free {
    margin: 0 auto;
  }

  .subscribe-btn {
    margin-top: 6%;
    font-size: 1.2rem;
  }
}
