.audience {
  color: var(--white);
  padding: 5% 10%;
  /* overflow: hidden; */
  background-image: url("/assets/images/fundo3.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-attachment: fixed;
  background-color: var(--black);
}

/* .grid-bg {
  position: absolute;
  background-image: linear-gradient(90deg, var(--blue) 1px, transparent 0),
    linear-gradient(180deg, var(--blue) 1px, transparent 0);
  background-size: 7.5rem 7.5rem;
  transform: rotate(-14deg);
  height: 35rem;
  background-position: 50%;
  width: 35rem;
  right: 0;
  z-index: 1;
} */

.audience-title {
  border-left: 2px solid var(--white);
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.audience-title h2 {
  font-size: 2.2rem;
}

/* .audience-title i {
  font-size: 5rem;
  z-index: 3;
  color: var(--white);
  border: 2px solid var(--white);
  background-color: #222222bb;
  padding: 2rem;
  border-radius: 100%;
  box-shadow: 1px 1px 10px var(--white);
} */

.audience-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding: 5rem;
  border-radius: 10px;
}

.audience-card {
  z-index: 2;
  width: 100%;
  /* background-color: var(--black); */
  background-color: #282828;
  border-radius: 5px;
  padding: 1.5rem;
  border-bottom: 5px solid var(--blue);
}

.audience-card h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.audience-card p {
  font-size: 1.1rem;
  text-align: justify;
}

.audience-card i {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .audience-cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .audience-card {
    width: 60%;
  }

  .audience-card h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .audience-cards {
    padding: 5rem 0;
  }

  .audience-card {
    width: 100%;
  }
}
